## Data loading

In [9]:
import pandas as pd

In [10]:
data_set=pd.read_csv("weather-data-18-24.csv")

## Printing first 5 Rows

In [11]:
data_set.head()

,day,month,year,humidity,wspd,pressure,dew_point,city,tmin,tmax,tavg
0,1,1,2018,56,13.2,1014.3,2.9,Islamabad,6.8,16.2,11.4
1,2,1,2018,58,10.1,1015.1,4.6,Islamabad,9.3,16.2,12.7
2,3,1,2018,62,9.4,1015.7,4.6,Islamabad,7.6,15.5,11.8
3,4,1,2018,72,10.8,1015.8,5.3,Islamabad,6.8,14.1,10.2
4,5,1,2018,77,8.0,1016.9,6.2,Islamabad,7.2,14.1,10.2

## Print Bottom 5 Rows

In [12]:
data_set.tail()

,day,month,year,humidity,wspd,pressure,dew_point,city,tmin,tmax,tavg
7666,27,12,2024,46,9.7,1025.5,-8.2,Quetta,-1.1,8.9,2.8
7667,28,12,2024,42,5.1,1024.7,-9.2,Quetta,-1.9,10.0,3.3
7668,29,12,2024,33,9.7,1021.6,-11.0,Quetta,1.1,14.8,6.0
7669,30,12,2024,34,6.8,1020.9,-8.5,Quetta,1.8,14.2,7.2
7670,31,12,2024,41,4.8,1020.2,-3.8,Quetta,4.2,16.5,9.3

## Print Number of rows and Columns

In [13]:
print('rows:',data_set.shape[0])
print('columns',data_set.shape[0])

rows: 7671
columns 7671

## Determine null values

In [14]:
data_set.isnull().sum

<bound method DataFrame.sum of         day  month   year  humidity   wspd  pressure  dew_point   city   tmin  \
0     False  False  False     False  False     False      False  False  False
1     False  False  False     False  False     False      False  False  False
2     False  False  False     False  False     False      False  False  False
3     False  False  False     False  False     False      False  False  False
4     False  False  False     False  False     False      False  False  False
...     ...    ...    ...       ...    ...       ...        ...    ...    ...
7666  False  False  False     False  False     False      False  False  False
7667  False  False  False     False  False     False      False  False  False
7668  False  False  False     False  False     False      False  False  False
7669  False  False  False     False  False     False      False  False  False
7670  False  False  False     False  False     False      False  False  False

       tmax   tavg
0     False  False
1     False  False
2     False  False
3     False  False
4     False  False
...     ...    ...
7666  False  False
7667  False  False
7668  False  False
7669  False  False
7670  False  False

[7671 rows x 11 columns]>

## Filling null value using mean, mode, median

In [15]:
data_set.fillna(data_set.mean)
data_set.fillna(data_set.median)
data_set.fillna(data_set.mode)

,day,month,year,humidity,wspd,pressure,dew_point,city,tmin,tmax,tavg
0,1,1,2018,56,13.2,1014.3,2.9,Islamabad,6.8,16.2,11.4
1,2,1,2018,58,10.1,1015.1,4.6,Islamabad,9.3,16.2,12.7
2,3,1,2018,62,9.4,1015.7,4.6,Islamabad,7.6,15.5,11.8
3,4,1,2018,72,10.8,1015.8,5.3,Islamabad,6.8,14.1,10.2
4,5,1,2018,77,8.0,1016.9,6.2,Islamabad,7.2,14.1,10.2
...,...,...,...,...,...,...,...,...,...,...,...
7666,27,12,2024,46,9.7,1025.5,-8.2,Quetta,-1.1,8.9,2.8
7667,28,12,2024,42,5.1,1024.7,-9.2,Quetta,-1.9,10.0,3.3
7668,29,12,2024,33,9.7,1021.6,-11.0,Quetta,1.1,14.8,6.0
7669,30,12,2024,34,6.8,1020.9,-8.5,Quetta,1.8,14.2,7.2
7670,31,12,2024,41,4.8,1020.2,-3.8,Quetta,4.2,16.5,9.3

## Data type of each column

In [16]:
data_set.dtypes

day            int64
month          int64
year           int64
humidity       int64
wspd         float64
pressure     float64
dew_point    float64
city          object
tmin         float64
tmax         float64
tavg         float64
dtype: object