In [12]:
import pandas as pd
import numpy as np

In [13]:
df=pd.read_csv("weather-data-18-24.csv")

In [14]:
df.head()

,day,month,year,humidity,wspd,pressure,dew_point,city,tmin,tmax,tavg
0,1,1,2018,56,13.2,1014.3,2.9,Islamabad,6.8,16.2,11.4
1,2,1,2018,58,10.1,1015.1,4.6,Islamabad,9.3,16.2,12.7
2,3,1,2018,62,9.4,1015.7,4.6,Islamabad,7.6,15.5,11.8
3,4,1,2018,72,10.8,1015.8,5.3,Islamabad,6.8,14.1,10.2
4,5,1,2018,77,8.0,1016.9,6.2,Islamabad,7.2,14.1,10.2

# Data PreProcessing

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7671 entries, 0 to 7670
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   day        7671 non-null   int64
 1   month      7671 non-null   int64
 2   year       7671 non-null   int64
 3   humidity   7671 non-null   int64
 4   wspd       7671 non-null   float64
 5   pressure   7671 non-null   float64
 6   dew_point  7671 non-null   float64
 7   city       7671 non-null   object
 8   tmin       7671 non-null   float64
 9   tmax       7671 non-null   float64
 10  tavg       7671 non-null   float64
dtypes: float64(6), int64(4), object(1)
memory usage: 659.4+ KB

# Check Null Values

In [16]:
df.isnull().sum()

day          0
month        0
year         0
humidity     0
wspd         0
pressure     0
dew_point    0
city         0
tmin         0
tmax         0
tavg         0
dtype: int64

###  There is no Null Value in any Column

# Type Conversation

In [17]:
df.columns

Index(['day', 'month', 'year', 'humidity', 'wspd', 'pressure', 'dew_point',
       'city', 'tmin', 'tmax', 'tavg'],
      dtype='object')

# Float convert into integer

In [18]:
def float_into_int(lis):
    for i in lis:
       df[i]= df[i].astype("int64")
    
fl=[ 'wspd', 'pressure', 'dew_point',
       'tmin', 'tmax', 'tavg']
float_into_int(fl)

# check is float convert or not ???

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7671 entries, 0 to 7670
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   day        7671 non-null   int64
 1   month      7671 non-null   int64
 2   year       7671 non-null   int64
 3   humidity   7671 non-null   int64
 4   wspd       7671 non-null   int64
 5   pressure   7671 non-null   int64
 6   dew_point  7671 non-null   int64
 7   city       7671 non-null   object
 8   tmin       7671 non-null   int64
 9   tmax       7671 non-null   int64
 10  tavg       7671 non-null   int64
dtypes: int64(10), object(1)
memory usage: 659.4+ KB

# Import label encoder from sklearn for convert object into integer

In [20]:
from sklearn.preprocessing import LabelEncoder

# Convert object into integer

In [21]:
def object_into_int(lis):
    for i in lis:
        data =pd.DataFrame({i:df[i].unique()})
        data_le=LabelEncoder()
        data_le.fit(np.ravel(data))
        df[i]=data_le.transform(df[i])
obj=["city"]
object_into_int(obj)

# Check is obj convert or not???

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7671 entries, 0 to 7670
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   day        7671 non-null   int64
 1   month      7671 non-null   int64
 2   year       7671 non-null   int64
 3   humidity   7671 non-null   int64
 4   wspd       7671 non-null   int64
 5   pressure   7671 non-null   int64
 6   dew_point  7671 non-null   int64
 7   city       7671 non-null   int64
 8   tmin       7671 non-null   int64
 9   tmax       7671 non-null   int64
 10  tavg       7671 non-null   int64
dtypes: int64(11)
memory usage: 659.4 KB