In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")

In [3]:
df.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip
0,313000,3,1,1340,7912,1,0,0,3,1340,0,1955,2005,1502,36,62
1,2384000,5,2,3650,9050,2,0,4,5,3370,280,1921,0,3858,35,58
2,342000,3,2,1930,11947,1,0,0,4,1930,0,1966,0,2265,18,26
3,420000,3,2,2000,8030,1,0,0,4,1000,1000,1963,0,4219,3,7
4,550000,4,2,2140,14852,1,0,0,4,1140,800,1976,1992,4305,31,31

## Q1. Train Test Splitting

In [7]:
X = df.drop('price', axis=1) 
y = df['price']

In [8]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X,y, test_size=0.3, shuffle=False) # 80:20, 70:30, 60:40

In [9]:
print(train_X.shape, train_y.shape)
print(test_X.shape, test_y.shape)

(3220, 15) (3220,)
(1380, 15) (1380,)

## Q2. Model selection

In [10]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

In [13]:
model_rfr = RandomForestRegressor()
model_rfr.fit(train_X, train_y)
print(model_rfr)

RandomForestRegressor()

## Q3. Predicting

In [14]:
model_pred_rfr = model_rfr.predict(test_X)
model_pred_rfr

array([458114.85, 854414.68, 333031.32, ..., 620192.87, 356635.08,
       262221.5 ])

## Q4. Accuracy Score

In [16]:
from sklearn.metrics import r2_score, mean_absolute_error

print("MAE:", mean_absolute_error(test_y, model_pred_rfr))
print("R2 Score:", r2_score(test_y, model_pred_rfr))

MAE: 179263.92161835748
R2 Score: 0.04289640243395232